pre { 
    white-space: pre-wrap;
    overflow-x: auto; 
}

pre {
    font-size: 18px;
    color: white;
    background: black;
    padding: 20 px 10px;
}

dl {
    padding: 10px 0px 10px;
}

dt {
    font-size: 20px;
}

dd {
    padding-left: 30px ;
}






